*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    margin: 0 auto;
    max-width: 1920px;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: #000;
}

.top-bar{
    padding: 28px 70px;
    background-color: #f4f1f0;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.top-bar ul{
    gap: 40px;
}

header{
    padding: 28px 70px;
    height: 220px;
}

.main-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.main-nav-container .logo{
    width: 30%;
    max-width: 420px;
}

.main-nav-container .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-nav{
    width: 55%;
}

.main-nav ul{
    font-size: 20px;
    font-weight: 550;
    gap: 40px;
}

.main-nav ul li{
    padding: 10px;
    border-bottom: 2px solid transparent;
    transition: border 150ms linear;
}

.main-nav ul li:hover{
    border-bottom: 2px solid #97784c;
}

.main-nav-container .other-options{
    width: 15%;
    font-size: 20px;
    gap: 40px;
    justify-content: flex-end;
}

.sub-nav{
    margin: 32px 0 0 10px;
}

.sub-nav ul{
    font-size: 18px;
    font-weight:700;
    gap: 24px;
}

.sub-nav ul li{
   display: flex;
   align-items: center;
   gap: 5px;
}

/*main*/
main{
    margin-bottom: 100px;
}

.cover{
    position: relative;
    height: 720px;
    background: url("./asset/main-banner.png") no-repeat;
    background-size: contain;
}

.cover-text{
    position: absolute;
    top: 160px;
    left: 68px;
    width: 750px;
}

.cover-text h1{
    margin: 0 0 25px 0;
    font-size: 85px;
    color: #5E7A92;
}

.cover-text h3{
    font-size: 30px;
}

.cover-text .join-btn{
    width: 250px;
    height: 80px;
    border-radius:40px;
    margin: 60px 0 0 0;
    font-size: 20px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.cover-text p{
    margin: 53px 0 0 0;
    font-size: 25px;
    font-weight: 500;
}

.cover-text p a{
    color: #000;
}

.arrow-btn{
    display: flex;
    padding: 34px;
    align-items: center;
}

.arrow-btn span{
    flex: 60%;
}

.site-options-container h2{
    margin: 124px 0 65px 0;
    font-size: 54px;
    text-align: center;
}

.site-options{
    display: flex;
    margin: 0px 150px;
    column-gap: 54px;
    row-gap: 42px;
    flex-wrap: wrap;
    justify-content: center;
}

.site-option-item{
    width: 480px;
    height: 480px;
    padding: 70px 0 0 0;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.site-option-item .item-logo{
    width: 60px;
    margin: 0 auto;
}

.site-option-item h3{
    font-size: 35px;
    margin: 35px 0 23px 0;
}

.site-option-item p{
    margin: 0 auto;
    width:98%;
    font-size: 30px;
    color: #262626;
    height: 114px;
    font-weight: 100;
}

.site-option-item a{
    display: inline-block;
    padding: 22px 68px 26px 68px;
    font-size: 22px;
    color: #fff;
    background-color: #986f38;
    text-decoration: none;
    border-radius: 40px;
}

.view-all-btn{
    margin: 132px auto 0 auto;
    width: 234px;
    height: 80px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    border-radius: 40px;
}

.redeem-points-container{
    margin: 125px 0 30px 0;
}

.redeem-points-container h2{
    font-size: 54px;
    text-align: center;
}

.redeem-points-container h4{
    font-size: 30px;
    font-weight: 100;
    color:#4D4E4E;
    text-align: center;
}

.redeem-points{
    display: flex;
    flex-wrap: wrap;
    gap: 58px;
    margin: 120px 150px 0 150px;
}

.redeem-points-item{
    width: 480px;
    height: 480px;
    padding: 58px;
}

.redeem-points-item:nth-child(1){
    background: url('./asset/reward-bg/rewards-bg-1.png') no-repeat;
}

.redeem-points-item:nth-child(2){
    background: url('./asset/reward-bg/rewards-bg-2.png') no-repeat;
}

.redeem-points-item:nth-child(3){
    background: url('./asset/reward-bg/rewards-bg-3.png') no-repeat;
}

.redeem-points-item:nth-child(4){
    background: url('./asset/reward-bg/rewards-bg-4.png') no-repeat;
}

.redeem-points-item:nth-child(5){
    background: url('./asset/reward-bg/rewards-bg-5.png') no-repeat;
}

.redeem-points-item:nth-child(6){
    background: url('./asset/reward-bg/rewards-bg-6.png') no-repeat;
}

.redeem-points-item .item-logo{
    width: 101px;
    height: 101px;
    background-color: #fff;
    border-radius: 50%;
}

.redeem-points-item p{
    margin: 18px 0;
    font-size: 35px;
    font-weight: 100;
    color: #23282A;
    min-height: 180px;
}

.redeem-btn{
    width: 272px;
    height: 72px;
    padding: 27px 45px;
    color: #fff;
    font-size: 18px;
    background-color: #986f38;
    text-decoration: none;
    border-radius: 45px;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    padding: 80px 70px 0 50px;
    height: 923px;
    background-color: #f1f1f1;
}

.footer-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.footer-nav .logo-container{
    width: 40%;
    max-width: 720px;
    min-width: 320px;
    margin: 0 80px 0 0;
}

.footer-nav .logo-container .logo{
    max-width: 420px;
    width: 100%;
}

.footer-nav .logo-container .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-nav-item h3{
    width: 220px;
    margin: 0 0 40px 0;
    padding: 0 0 8px 0;
    border-bottom: 4px solid #617c95;
    font-size: 20px;
    font-weight: 800;
}

.footer-nav-item ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.footer-nav  .social-icons{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin: 20px 10px;
}

.footer-nav .social-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 65px;
    height: 65px;
    font-size: 28px;
    color: #617c94;
    border: 1px solid #617c94;
    border-radius: 50%;
}

.legal-section-container{
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;
    font-size: 18px;
}

.legal-section-container a{
    color: #000;
    text-decoration: none;
}

.legal-section{
    width: 48%;
    font-size: 18px;
    display: flex;
    gap: 50px;
}